<header class="one">
    <div class="top-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6">
                    <div class="d-flex align-items-center login">
                        <div class="register">
                            <i>
                                <svg clip-rule="evenodd" fill-rule="evenodd" height="512" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 32 32" width="512" xmlns="http://www.w3.org/2000/svg"><g id="Approved-User"><path d="m10.105 22.3c.21-.482.511-.926.89-1.305.797-.797 1.878-1.245 3.005-1.245h4c1.127 0 2.208.448 3.005 1.245.379.379.68.823.89 1.305.166.379.608.553.988.387.379-.165.553-.608.387-.987-.285-.653-.691-1.253-1.204-1.766-1.078-1.078-2.541-1.684-4.066-1.684-1.3 0-2.7 0-4 0-1.525 0-2.988.606-4.066 1.684-.513.513-.919 1.113-1.204 1.766-.166.379.008.822.387.987.38.166.822-.008.988-.387z" /><path d="m16 8.25c-3.174 0-5.75 2.576-5.75 5.75s2.576 5.75 5.75 5.75 5.75-2.576 5.75-5.75-2.576-5.75-5.75-5.75zm0 1.5c2.346 0 4.25 1.904 4.25 4.25s-1.904 4.25-4.25 4.25-4.25-1.904-4.25-4.25 1.904-4.25 4.25-4.25z" /><path d="m26.609 12.25c.415 1.173.641 2.435.641 3.75 0 6.209-5.041 11.25-11.25 11.25s-11.25-5.041-11.25-11.25 5.041-11.25 11.25-11.25c1.315 0 2.577.226 3.75.641.39.138.819-.067.957-.457s-.067-.819-.457-.957c-1.329-.471-2.76-.727-4.25-.727-7.037 0-12.75 5.713-12.75 12.75s5.713 12.75 12.75 12.75 12.75-5.713 12.75-12.75c0-1.49-.256-2.921-.727-4.25-.138-.39-.567-.595-.957-.457s-.595.567-.457.957z" /><path d="m21.47 8.53 2 2c.293.293.767.293 1.06 0l4-4c.293-.292.293-.768 0-1.06-.292-.293-.768-.293-1.06 0l-3.47 3.469s-1.47-1.469-1.47-1.469c-.292-.293-.768-.293-1.06 0-.293.292-.293.768 0 1.06z" /></g></svg>
                            </i><a href="/login/index">Login / Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-bar ">
        <div class="container">
            <div class="row align-items-center" style="background: #FEBA4F">
                <div class="col-xl-3">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex cart-checkout">
                            <a href="cart-checkout.html">
                                <i>
                                    <svg enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                        <g>
                                            <path d="m452 120h-60.946c-7.945-67.478-65.477-120-135.054-120s-127.109 52.522-135.054 120h-60.946c-11.046 0-20 8.954-20 20v352c0 11.046 8.954 20 20 20h392c11.046 0 20-8.954 20-20v-352c0-11.046-8.954-20-20-20zm-196-80c47.484 0 87.019 34.655 94.659 80h-189.318c7.64-45.345 47.175-80 94.659-80zm176 432h-352v-312h40v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h192v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h40z"></path>
                                        </g>
                                    </svg>
                                </i>
                            </a>
                            <div class="bar-menu">
                                <i class="fa-solid fa-bars"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <nav class="navbar">
                        <ul class="navbar-links">
                            <li class="navbar-dropdown">
                                <a href="/home/index">home</a>
                            </li>
                            <li class="navbar-dropdown">
                                <a href="/menu/index">Menus</a>
                            </li>
                            <li class="navbar-dropdown">
                                <a href="/contact/index">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="hamburger-icon">
                        <div class="donation">

                            <a href="JavaScript:void(0)" class="pr-cart">

                                <svg id="Shoping-bags" enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><g><path d="m452 120h-60.946c-7.945-67.478-65.477-120-135.054-120s-127.109 52.522-135.054 120h-60.946c-11.046 0-20 8.954-20 20v352c0 11.046 8.954 20 20 20h392c11.046 0 20-8.954 20-20v-352c0-11.046-8.954-20-20-20zm-196-80c47.484 0 87.019 34.655 94.659 80h-189.318c7.64-45.345 47.175-80 94.659-80zm176 432h-352v-312h40v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h192v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h40z"></path></g></svg>

                            </a>
                        </div>
                        <a href="contact.html" class="button">Reserve a Table</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-nav hmburger-menu" id="mobile-nav" style="display:block;">
        <div class="res-log">
            <a href="index.html">
                <img src="site/assets/img/logo.png" alt="Responsive Logo" class="white-logo">
            </a>
        </div>
        <ul>

            <li class="menu-item-has-children">
                <a href="JavaScript:void(0)">Home</a>
                <ul class="sub-menu">

                    <li><a href="index.html">home page 1</a></li>
                    <li><a href="index-2.html">home page 2</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children">
                <a href="JavaScript:void(0)">menus</a>
                <ul class="sub-menu">
                    <li><a href="menu-1.html">menu 1</a></li>
                </ul>
            </li>


            <li class="menu-item-has-children">
                <a href="JavaScript:void(0)">shop</a>

                <ul class="sub-menu">
                    <li><a href="shop.html">our product</a></li>
                </ul>

            </li>
            <li class="menu-item-has-children">
                <a href="JavaScript:void(0)">News</a>
                <ul class="sub-menu">
                    <li><a href="our-blog.html">our blog</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children">
                <a href="JavaScript:void(0)">Pages</a>

                <ul class="sub-menu">
                    <li><a href="about.html">about</a></li>
                </ul>
            </li>
            <li><a href="contact.html">contacts</a></li>
        </ul>
        <a href="JavaScript:void(0)" id="res-cross"></a>
    </div>
</header>
