@model RestaurantManagement.Service.DTOs.Cart.CartDTO
@{
    ViewData["Title"] = "InsertUpdate";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="nk-content-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="nk-block nk-block-lg">
                <div class="nk-block-head">
                    <div class="nk-block-head-content">
                        <h4 class="title nk-block-title">Food Form</h4>
                    </div>
                </div>
                <div class="card card-bordered card-preview">
                    <div class="card-inner">
                        <div class="preview-block">
                            <span class="text-danger">@(ViewBag.Error is not null ? ViewBag.Error : "")</span>
                            <span class="text-danger"></span>
                            <div class="row gy-4">
                                <form asp-controller="cart" asp-action="insertupdate" asp-antiforgery="true" method="post"
                                      class="form-validate is-alter" autocomplete="off">
                                    <input type="hidden" asp-for="Id" />
                                    <div class="col-sm-6 form-list-account">
                                        <div class="form-group">
                                            <label class="form-label" for="default-01">Username</label>
                                            <div class="form-control-wrap">
                                                @{
                                                    if (Model.Id == 0)
                                                    {
                                                        <select asp-for="Username" class="form-control" asp-items="@((IEnumerable<SelectListItem>)ViewData["user"])">
                                                            <option value="">Select user</option>
                                                        </select>
                                                    }
                                                    else
                                                    {
                                                        <select asp-for="Username" class="form-control" readonly asp-items="@((IEnumerable<SelectListItem>)ViewData["user"])">
                                                            <option value="">Select user</option>
                                                        </select>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="default-01">Note</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" asp-for="Note" placeholder="Enter note" />
                                                <span asp-validation-for="Note" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="default-01">Status</label>
                                            <div class="form-control-wrap">
                                                <input type="number" class="form-control" asp-for="Status" placeholder="Enter status" />
                                                <span asp-validation-for="Status" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row gy-2">
                                            <div class="form-group row gy-2">
                                                <div class="col-md-6 col-sm-6 btt-center">
                                                    <button type="submit" class="btn btn-outline-primary">Submit</button> &nbsp;
                                                    <a asp-controller="food" asp-action="index" asp-area="admin" title="cancle" class="btn btn-outline-primary">Cancle</a>
                                                </div>

                                            </div>
                                        </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}



