@model IEnumerable<RestaurantManagement.Service.DTOs.FoodByMenuDTO>

<section>
    <div class="container">
        <div class="row align-items-center">
            @{
                foreach (var item in Model)
                {
                    <div class="col-xl-4 col-md-6">
                        <div class="delicious-menu two">
                            <h3>@(item.MenuName)</h3>
                            <div class="line"></div>
                            <ul>
                                @{
                                    foreach (var food in item.Foods)
                                    {
                                        <li>
                                            <div class="delicious">
                                                <h6>@(food.FoodName)</h6>
                                                <span>@(food.Price) đ</span>
                                            </div>
                                            <p>@(food.Description)</p>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>



