@using System.Security.Claims;

<div class="nk-header nk-header-fixed is-light">
    <div class="container-fluid">
        <div class="nk-header-wrap">
            <div class="nk-menu-trigger d-xl-none ms-n1">
                <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
            </div>
            <div class="nk-header-brand d-xl-none">
                <a href="html/index.html" class="logo-link">
                    <img class="logo-light logo-img" src="~/admin/assets/images/logo.png" srcset="~/admin/assets/images/logo2x.png 2x" alt="logo">
                    <img class="logo-dark logo-img" src="~/admin/assets/images/logo-dark.png" srcset="~/admin/assets/images/logo-dark2x.png 2x" alt="logo-dark">
                </a>
            </div><!-- .nk-header-brand -->
            <div class="nk-header-tools">
                <ul class="nk-quick-nav">
                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                            <div class="user-toggle">
                                <div class="user-avatar sm">
                                    <img src="~/images/@(User.FindFirst(ClaimTypes.NameIdentifier)?.Value).png" class="avatar-style-sm" />
                                </div>
                                <div class="user-info d-none d-md-block">
                                    <div class="user-status">@User.Identity.Name</div>
                                    <div class="user-name dropdown-indicator">@User.Identity.Name</div>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-end dropdown-menu-s1">
                            <div class="dropdown-inner">
                                <ul class="link-list">
                                    <li>
                                        <a asp-controller="authentication" asp-action="logout"
                                           method="post"><em class="icon ni ni-signout"></em><span>Sign out</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul><!-- .nk-quick-nav -->
            </div><!-- .nk-header-tools -->
        </div><!-- .nk-header-wrap -->
    </div><!-- .container-fliud -->
</div>
