
@model RestaurantManagement.UI.Areas.Admin.Models.RegisterModel
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="box login">
                    <h3>Login</h3>
                    <form asp-controller="login" asp-action="Login" asp-antiforgery="true" method="post" autocomplete="off">
                        <input autocomplete="off" type="text" asp-for="Username" placeholder="Username or email address">
                        <span asp-validation-for="Username" class="text-danger"></span>
                        <input type="password" asp-for="Password" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <button type="submit" class="button">Login</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="box register">
                    <div class="parallax" style="background-image: url(/site/assets/img/patron.jpg)"></div>
                    <h3>Register Account</h3>
                    <span class="text-primary">@(ViewBag.Error is not null ? ViewBag.Error : "")</span>
                    <span class="text-default">@(ViewBag.Message is not null ? ViewBag.Message : "")</span>
                    <form asp-controller="login" asp-action="Register" asp-antiforgery="true" method="post" autocomplete="off">
                        <input type="text" asp-for="Fullname" placeholder="Complete Name">
                        <span asp-validation-for="Fullname" class="text-danger"></span>
                        <input type="text" asp-for="Username" placeholder="Username or email address">
                        <span asp-validation-for="Username" class="text-danger"></span>
                        <input type="password" asp-for="Password" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <button type="submit" class="button">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

